<div class="row">
  <%= form.label :title, class: 'col-sm-2' %>
  <%= form.text_field :title, class: 'col-sm-4' %>
</div>

<br>

<div class="row">
  <%= form.label :author, class: 'col-sm-2' %>
  <%= form.text_field :author, class: 'col-sm-4' %>
</div>

<br>

<div class="row">
  <%= form.label :description, class: 'col-sm-2' %>
  <%= form.text_area :description, class: 'col-sm-4' %>
</div>

<br>
